<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843133351275-rd0kljbkg5niv27oh7m0f6qihr51ffoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843133351275-rd0kljbkg5niv27oh7m0f6qihr51ffoj</string>
	<key>API_KEY</key>
	<string>AIzaSyA_95oWBpHRSryh-158_fU7-spkbVUFxYg</string>
	<key>GCM_SENDER_ID</key>
	<string>843133351275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanghalee.Spot</string>
	<key>PROJECT_ID</key>
	<string>spot-c4ffa</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-c4ffa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843133351275:ios:fb8742a0db42600c9d082e</string>
	<key>DATABASE_URL</key>
	<string>https://spot-c4ffa.firebaseio.com</string>
</dict>
</plist>